# IntelliJ IDEA project files
*.iml
*.ipr
*.iws
.idea/

# Build Artifacts
build/

# Gradle related
.gradle/
gradle/
gradlew.bat

# Log files
*.log

# Temporary files
*~
*#*

# Compiled plots
plot/*.png
